*{
    box-sizing: border-box;
    margin: 0 auto;
}
.cards__container{
    display: flex;
    flex-wrap: wrap;
}
.hero_card{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 800px;
    border: 3px solid rgb(53, 2, 2);
}
.card__text{
    width: 370px;
    font-size: 15px;
}
.card__img{
    max-width: 400px;
    padding: 20px;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}